@import "tailwindcss";

:root {
  --background: #282C33;
  --foreground: #ffffff;
  --primary: #C778DD;
  --gray: #ABB2BF;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Custom Utilities */
.text-primary {
  color: var(--primary);
}

.text-gray {
  color: var(--gray);
}
